main.aux
main.bbl
main.bbl-SAVE-ERROR
main.bcf
main.blg
main.fdb_latexmk
main.fls
main.log
main.nav
main.out
main.pdf
main.run.xml
main.snm
main.synctex.gz
main.toc
Presentation.bbl
Presentation.bbl-SAVE-ERROR
Presentation.nav
Presentation.snm
Presentation.synctex.gz
